<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ProductDao">
		
	<insert id="write" parameterType="ProductVo">
		INSERT INTO PRODUCT
		(productSeq, sellerSeq, category, prodName, prodInfo, price, discount, shippingCharge, stockNumber)
		VALUES (productSeq.nextval, #{sellerSeq}, #{category}, #{prodName}, #{prodInfo}, #{price}, #{discount}, #{shippingCharge}, #{stockNumber}) </insert>

	<select id="list" resultType="ProductVo">
		SELECT *
		FROM PRODUCT
		ORDER BY PRODUCTSEQ
		</select>

	<select id="read" resultType="ProductVo">
		SELECT *
		FROM PRODUCT
		WHERE PRODUCTSEQ=#{productSeq} 
	</select>

	<update id="update">
		UPDATE PRODUCT
		SET CATEGORY=#{category}, PRODNAME=#{prodName}, PRODINFO=#{prodInfo}, PRICE=#{price}, DISCOUNT=#{discount}, SHIPPINGCHARGE=#{shippingCharge}, STOCKNUMBER=#{stockNumber}
		WHERE PRODUCTSEQ=#{productSeq} 
	</update>

	<delete id="delete">
		DELETE FROM PRODUCT
		WHERE PRODUCTSEQ=#{productSeq} 
	</delete>


</mapper>